@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

a,
.a {
  color: white !important;
}
#search {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.form {
  margin-top: 20px;
}

.edit {
  background-color: #0d6efd;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.del {
  background-color: #fd0d0de1;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}
